<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RandomRest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <RandomRest.Properties.Settings>
            <setting name="restTime" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="intervalTime" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="rangeTime" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="IsMinute" serializeAs="String">
                <value>False</value>
            </setting>
        </RandomRest.Properties.Settings>
    </userSettings>
</configuration>